.PaGeCommon{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
}
.patron{
    margin: 3vh 0;
}
.patron h2{
    font-size: 1.5rem;
    margin: 2vh 0;
}

.patronMain{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}
.patrondata{
    margin: 1vh 0;
    background-color: rgb(58,102,184);
    padding:0 1em 1em;
    color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 0.6s ease-in-out;
    height: 22vh;
}

.patrondata:hover{
    transform: scale(1.08);
    cursor: pointer;
    background: linear-gradient(90deg, rgb(53, 53, 241) 0%, rgb(108, 126, 126) 100%);
}
.patrondata h1{
    font-size: 1.3rem;
}
.patrondata p{
    font-size: 1rem;
}


/* adding media query  */


@media(max-width:1000px)
{
    .patrondata{
    height: 18vh;
    }

    
}

@media(max-width:700px)
{
    .PaGeCommon{
        grid-template-columns: 1fr ;
    }
    .patrondata{
        height: 16vh;
    }
}