.Publication{
    width: 98%;
    margin: 4vh  auto;
}
.Publication h2{
    font-size: 2rem;
    margin-top: 8vh;
margin-bottom: 1vh;
}
img{
    height: 100%;
    width: 100%;
}
.puimg{
    height: 40vh;
    width: 30vh;
    transition: all 0.5s ease-in-out;
}
.puimg:hover{
transform: scale(1.1);
}
.publicationMain{
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* display: flex; */
    margin: 6vh 0;
    gap: 2rem;
}
.puImages{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
}

.imgdata p{
    margin: 2vh 0;
    margin-bottom: 4vh;
    font-size: 1rem;
}
/* publication proceedings  */
.pubProceedings{
  padding: 2rem;
    background-color: rgb(237,246,250);
}
.pubProceedings h3{
    text-align: center; 
    font-size: 1.3rem;
    padding: 3vh 0;
}
.pubProceedings p{
    font-size: 1.1rem;
    line-height: 4vh;
}


/* index image  */
.index h2{
    text-align: center;
    font-size: 2rem;
}
.indexImg{ 
    height: 15vh;
    width: 20vh;
    transition: all 0.5s ease-in-out;
}
.indexImg:hover{
transform: scale(1.1);
}
.IndexImages{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 3rem 0;
}


/* adding media query  */
@media(max-width:1030px)
{
    .publicationMain{
        grid-template-columns: 1fr;
    }
}

@media(max-width:700px)
{
    .puImages{
        grid-template-columns: repeat(2,1fr);
    }
    .IndexImages{
        grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;

    }

    .Publication h2{
        font-size: 1.5rem;
        margin-left: 1vh;
    }
    
}