.imp_Date{
    /* width: 98%; */
    margin: 0 auto;
    width: 40vw;
}

.imp_Date .impDate h1{
 text-align: center;
 margin-bottom: 2vh;
}
.impDate{
    border: 1px solid rgb(23, 22, 22);
    padding: 4vh;
    width: 40vw;
}
.impDate .dates{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.impDate .dates .date{
    border-bottom: 1px solid grey;
    padding: 4px 0;
}
.impDate .dates .date h4{
    font-size: 18px;
    color: rgb(0, 100, 128);
}
.impDate .dates .date p{
    font-size: 16px;
    color:rgb(18, 18, 20);
    font-weight: 600;
}
