.reFeeMain{
    width: 98%;
    margin: 10vh auto;
}
.reFeeMain h3{
    padding: 1vh 0 0 0;
}
.reFeetd , .reFeetr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.reFeetr:hover{
  background: linear-gradient(90deg, rgb(148, 147, 147) 0%, rgb(240, 240, 240) 100%);
}
.reFeeTable{
    border: 1px solid rgb(164, 164, 164);
    margin: 3vh 0;
}
.reFeetd h2{
    font-size: 18px;
   border: 1px solid rgb(164, 164, 164);
   padding: 4px;
   padding-left: 8px;
}
.reFeetr p{
    border: 1px solid rgb(164,164,164);
    padding: 8px;
    padding-left: 8px;
}

.reSpDiscount h1{
    font-size: 18px;
}
