.reContainer{
    width: 97%;
    margin: 6vh auto;
}
.reContainer .reHeading{
    font-size: 28px;
    font-weight: 600;
}
.reContainer .reLine{
    margin-top: 3vh;
}

.reDetail .rePara{
    margin: 4vh 0;
    font-size: 17px;
    line-height: 4vh;
}
.reDetail .rePara .reParaBold{
    font-weight: 800;
}


/* Registration Authors  */
.reAuthors h2{
    font-size: 18px;
    font-weight: 700;
}
.reAuthors .reAuthorsInst{
    margin: 2vh 0;
    margin-left: 4vh;
    font-size: 16px;
  color: rgb(23, 20, 20);
}


/* Registration and all  */
.reAccountMain{
    margin:2vh 0;
   
}
.reAccountMain .reAccountHeading{
    font-size: 18px;
}

.reAccountTransfer{
    border: 1px solid black;
   margin: 4vh 0;
   width: 80%;
}


.reAccountTransfer .reAccount{
    width: 95%;
    margin: 0 auto;
}
.reAccountBank{
    margin: 2vh 0;
}
.reBankDetails{
    margin: 4vh 0;
}
.reAccountBank .reAccountBankHeading{
    font-size: 18px;
    text-align: center;
    background-color: rgb(170, 169, 169);
    padding: 2vh;
    border-radius: 12px;
   color: rgb(33, 30, 30);
}
.reBankDetails .reBank{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 2vh;
  box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.3);
  border-radius: 12px;
}

.reBankDetails .reBank:hover{
  background: linear-gradient(90deg, rgb(174, 171, 171) 0%, rgb(243, 239, 239) 100%);
  cursor: pointer;
}

.reBankDetails .reBank p{
    border-left: 1px solid gray;
    padding: 2vh;
    color: rgb(22, 21, 21);
}
.reBankDetails .reBank h2{
    font-size: 16px;
    padding: 2vh;
    font-size: 700;
}

/* pay pal  */
.Paypal{
   background: linear-gradient(90deg, rgb(213, 241, 250) 0%, rgb(164, 170, 170) 100%);
    padding: 2vh 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}


/* razorpay */
.Razor{
    padding: 4vh 0;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}









