.payPal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.payPal h1{
    font-size: 20px;
}
.payPal p{
    font-size: 18px;
}
.payPal .payPalBtn {
    background-color: rgb(101, 101, 252);
    padding: 2vh 3vh;
    border-radius: 10px;
}

.payPal .payPalBtn button {
    outline: none;
    border: none;
 
}
.payPal .payPalBtn button a{
    color: white;
    font-size: 16px;
    background-color: rgb(101, 101, 252);

}

