.razorPay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}
.razorPay h1{
    font-size: 20px;
    
}
.razorPay p{
    font-size: 18px;
}
.razorPay .razorPayBtn {
    background-color: rgb(101, 101, 252);
    padding: 2vh 3vh;
    border-radius: 10px;
}

.razorPay .razorPayBtn button {
    outline: none;
    border: none;
 
}
.razorPay .razorPayBtn button a{
    color: white;
    font-size: 16px;
    background-color: rgb(101, 101, 252);

}



/* adding media query  */
@media(max-width:900px)
{
    .razorPay p{
    padding: 1rem;
    }
}