 @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,300;1,400;1,800&family=Poppins:ital,wght@1,200;1,400&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&family=Rubik+Burned&family=Shadows+Into+Light&display=swap'); 

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.hcontainer{
    width: 98%;
    margin: 0 auto;
    margin-top: 2vh;
}

img{
    height: 100%;
    width: 100%;
}

/* images  */
.img1 .himg, .img2 .himg{
    height: 16vh;
    width: 16vh;
}
.img1, .img2{
    display: flex;
    margin-top: 2vh;
    gap: 10px;
}

.header{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.htop1, .htop2{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.htop2{
    margin-top: 5vh;
    font-size: 15px;
}


@media(max-width:700px){
    
    
    .img1, .img2{
       flex-direction: column;
       gap: 1rem;
    }
    .img1 .himg, .img2 .himg{
        height: 12vh;
        width: 12vh;
    }
    .htop1{
        font-size: 15px;
    }
    .htop2{
        font-size: 13px;
    }
}

