/* .Call_con{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.call_desc{
    width: 60vw;
    text-align: justify;
    margin-top: 20px;
    margin-left: 20px;
}

.abtHeader{
    margin: 20px 40px;
} */
