@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400;1,700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400;1,500&family=Lato:wght@300&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400;1,600;1,800&family=Poppins:ital,wght@1,200;1,400&family=Roboto:ital,wght@0,700;0,900;1,700;1,900&family=Rubik+Burned&family=Shadows+Into+Light&display=swap');

.about{
    margin: 4vh 0;
}
.abHeadTop{
    width: 95%;
    margin: 2vh auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.abHeadTop h1{
    font-weight: 700;
    opacity: 0.8;
}

.aboutMain{
    width: 95%;
    margin: 0 auto;
}
.aboutMain h2{
    padding: 4vh 0;
    font-weight: 800;
    opacity: 0.9;
    font-size: 28px;
}

.abLeftRight{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 15px;
    margin: 3vh 0;
}
.abLeft p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    line-height: 4vh;
    font-weight: 500;
}

.abLeftRight .abRight{
    background:linear-gradient(90deg, rgb(160, 223, 228) 0%, rgb(255, 254, 254) 100%);
    opacity: 0.9;
}
.abLeftRight .abRight:hover{
    cursor: pointer;
    opacity: 1;
}